.jumbotron {
    background-image: url('/img/pexels-godisable-jacob-226636-949670.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center center;
}
